#yoder-pay-online .ycolumn {
    float: left;
    width: 50%;
}

#yoder-pay-online .yrow {
    padding: 22px;
    position: relative;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #ffffff;
}

#yoder-pay-online .fa-map-marker {
    font-size: 37px;
    margin-right: 10px;
    color: #212c64;
    margin-top: -5px;
}

#yoder-pay-online .ybold {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 7px 0 0;
    line-height: 24px;
}

#yoder-pay-online p {
    color: #000;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0 0 5px 0;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 14px;
}

#yoder-pay-online .yrow:after {
    content: "";
    display: table;
    clear: both;
}

#yoder-pay-online .ycolumn {
    float: left;
}

#yoder-pay-online .left {
    width: 45%;
}

#yoder-pay-online.right {
    width: 55%;
}

#yoder-pay-online .right-content {
    display: flex;
    position: relative;
    top: 8px;
}

#yoder-pay-online .ytable {
    margin: 30px 0 0;
    padding: 15px 40px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

#yoder-pay-online .ytable h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

#yoder-pay-online .table-info {
    margin-bottom: 15px;
}

#yoder-pay-online .ytable.info {}

#yoder-pay-online .ytable p {
    margin: 11px 0 0;
    font-size: 14px;
}

#yoder-pay-online table {
    width: 100%;
}

#yoder-pay-online table td:first-child {
    padding: 8px 0px !important;
    width: 25px;
}

#yoder-pay-online table td:not(:first-child) {
    padding: 8px 0px !important;
}

#yoder-pay-online tr.heading td {
    font-size: 12px;
    opacity: 0.7;
}

#yoder-pay-online .table-bottom {
    display: flex;
    text-align: right;
    justify-content: center;
    align-content: center;
    margin: 45px;
}

#yoder-pay-online .table-bottom .yfee {
    padding: 0 25px;
}

#yoder-pay-online .table-bottom .cfee p {
    font-size: 14px;
}

#yoder-pay-online .table-bottom .cfee span {
    font-weight: bold;
}

#yoder-pay-online .table-bottom .fee p {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}

#yoder-pay-online .table-bottom .fee span {
    font-weight: bold;
}

#yoder-pay-online .button-submit {
    background: #ca1631;
    color: #ffffff;
    box-shadow: none;
    text-decoration: none;
    outline: 0;
    display: inline-block;
    transition: all 0.07s ease-in;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    text-align: center;
    border: 1px solid #ca1631;
    padding: 12px 20px 12px 20px;
}

#yoder-pay-online .button-submit:hover {
    background: #000;
    border: 1px solid #000;
}

#yoder-pay-online tr.table-data td:nth-child(3)::before {
    content: "$";
}

#yoder-pay-online .table-bottom .cfee p span::before {
    content: "$";
}

#yoder-pay-online .table-bottom .fee p span::before {
    content: "$";
}

input[type=checkbox] {
    position: relative;
    width: 21px;
    height: 1.5em;
    color: #363839;
    border: 1px solid #bdc1c6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    margin-left: 3px;
    top: 4px;
    margin-right: 9px;
    background-color: #fff;
}

input[type=checkbox]::before {
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 11px;
    border-style: solid;
    border-color: #ca1631;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type=checkbox]:checked {
    color: #fff;
    border-color: #ca1631;
    background: #ffffff;
}

input[type=checkbox]:checked:focus {
    color: #fff;
    border-color: #ca1631;
    background: #ffffff;
}

input[type=checkbox]:checked:hover {
    color: #fff;
    border-color: #ca1631;
    background: #ffffff;
}

input[type=checkbox]:checked::before {
    opacity: 1;
}

#yoder-pay-online .paytrace-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 600px) {
    #yoder-pay-online .ycolumn {
        width: 100%;
        display: block;
        margin: 0 0 35px 0;
    }
}

@media screen and (max-width: 767px) {
    #yoder-pay-online .table-bottom {
        display: block;
        line-height: inherit;
    }

    #yoder-pay-online .button-submit {
        line-height: inherit;
    }

    #yoder-pay-online .table-bottom .yfee {
        text-align: center;
    }
}

@media screen and (max-width: 484px) {
    #yoder-pay-online .button-submit {
        font-size: 12px;
    }
}